/*    Styles for Main layout   */

@import "../../utils/variables";
@import "../../utils/adjustment";
@import "../header/header";
@import "../footer/footer";


//TODO: change background to the pattern img
section {
  flex: 1 0 auto;

  & .content {
    background: #000000;
    opacity: 0.7;
    display: flex;
    align-items: stretch;
  }
}

