/*    Styles for Main layout   */

@import "../../utils/variables";








//TODO: change background to the pattern img
section {
  background: #c5c5c5;
  flex: 1 0 auto;

  & .content {
    background: #000000;
    opacity: 0.7;
    display: flex;
    align-items: stretch;
  }
}

