@import "../../utils/variables";

header {
  box-shadow: 0 3px 0 0 rgba(92, 186, 150, 0.5);
  background: $color-primary-main;

  .header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0;
  }

  .logo i {
    color: $color-white;
  }
  .user {
    display: flex;
    align-items: center;

    span {
      margin-right: 8px;
      font-size: 15px;
      line-height: 19px;
    }
    a {
      display: flex;
    }
  }

}