<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet" href="../../compile/login/login.css">
    <link rel="stylesheet" href="../../compile/modal/modal.css">
</head>
<body>

<section>
    <button class="open-modal" data-modalName="login">Login</button>
</section>


<div class="modal" data-modalName="login">
    <div class="modal-content">
        <span class="close-sign close-modal">&times;</span>

        <div class="login">
            <div class="login__title">
                <h5>Login to Demo Shop</h5>
            </div>
            <div class="login__form">
                <form class="form">
                    <input class="form__input" type="text" minlength="4" maxlength="12" placeholder="Login" required>
                    <input class="form__input" type="password" minlength="4" maxlength="12" placeholder="Password"
                           required>
                    <button class="close-modal btn">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../../shared/modal/modal.js"></script>
</html>