<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet" href="../../compile/pages/login/login.css">
</head>
<body>

<section>

    <div class="modal" data-modalName="login">
        <div class="modal__body">
            <div class="modal__header">
                <span class="modal__title">Login to "Demo Shop"</span>
            </div>
            <div class="modal__content">
                <!--_________ Login form __________-->
                <div class="login-form">
                    <form>
                        <label for="name">Your login:</label>
                        <input id="name" type="text" minlength="4" placeholder="Login" pattern="[A-Za-z]{4,12}">
                        <label for="password"> Your password:</label>
                        <input id="password" type="text" minlength="4" maxlength="12"
                               placeholder="Password">
                        <a href="../main/main.html" target="_blank" class="btn-primary-regular">Submit</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
  (() => {
    const input = document.querySelector("#password");
    input.addEventListener('input', ({ target }) => {
      !target.checkValidity()? target.classList.add('invalid'):target.classList.remove('invalid');
      target.value = target.value.replace(/./g, '*')
    })
  })();

</script>
</body>
</html>