<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layout</title>
    <link rel="stylesheet" href="../compile/layout/layout.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>
<body>
<header>
    <div class="container">
        <div class="header-wrap">
            <div class="logo"><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i></div>
            <div class="user">
                <span>User name</span>
                <i><i class="fa fa-user " aria-hidden="true"></i></i>
            </div>
        </div>
    </div>
</header>
<section>
    <div class="container">

            <button id="modal">Open modal</button>

    </div>
</section>
<footer>
    <span>Copyright Test site 2018</span>
</footer>
</body>
</html>