@import "../../utils/variables";
@import "../../utils/index";
@import "../../shared/header/header";
@import "../../shared/footer/footer";

#main {
  .container {
    padding: 15px 30px 80px;

  }
  .products-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

  }

  .product {
    color: $color-black;
    margin-bottom: 30px;
    flex-basis: 32%;

    @include respond-to($large-desktop) {
      flex-basis: 49%;

    }

    @include respond-to($tablet-portrait) {
      flex-basis: 100%;

    }

    &--picture {
      position: relative;

      img {
        display: block;
        max-width: 100%;
      }
    }

    &--rating {
      position: absolute;
      bottom: 0;
      height: 30px;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.75);
      display: flex;
      align-items: center;
      padding-left: 20px;
      justify-content: flex-start;
      list-style: none;

      li {
        margin-right: 3px;
        width: 17px;
      }

    }

    &--purchase {
      background: url("../../../../assets/decor/modal-bg.png");
      padding: 15px;
      height: 219px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h3 {
        @include font-family-PTSans-bold();
        font-size: 18px;
        padding-bottom: 9px;
        border-bottom: 2px solid #3FC5CB;
      }

      p {
        font-size: 14px;
        padding: 9px 0;
      }
    }

    &--price {
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        width: 120px;
        height: 35px;
        padding: 8px;
        line-height: 19px;
      }
    }

    &--cost {
      font-size: 24px;
      @include font-family-PTSans-bold();

      span {
        color: $color-green;
      }

    }
  }

}

/*  Filter popup  styles */

.tool-bar {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 25px;

  @include respond-to($tablet-portrait) {
    justify-content: flex-start;
  }

  &--tools-btn {
    display: flex;
    flex-basis: 389px;
    justify-content: space-between;
    align-items: center;

  }
  &--filter {

    button {
      width: 140px;
      background-color: $color-dark-green;
      line-height: 19px;
      @include font-family-PTSans-regular();

      &:focus {
        outline: none;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  &--search {
    position: relative;
    span {
      position: absolute;
      top: 25%;
      right: 10px;
      opacity: 0.3;

      i {
        font-size: 20px;
        color: $color-bright-gray;
      }
    }

    input {
      font-size: 14px;
      height: 35px;
      width: 235px;
      padding: 9px 17px;
      @include font-family-PTSans-regular();
    }
  }
}

.filter-popup {
  display: none;
  position: absolute;
  background-color: $color-white;
  padding: 17px 24px 10px;
  margin-top: 10px;
  width: 66%;
  top: 100%;
  right: 0;
  border-radius: 15px;
  color: $color-black;
  z-index: 100;

  @include respond-to($large-desktop) {
    width: 100%;
  }

  &--content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
  }

  &--top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
    border-bottom: 0.5px solid $color-mixed-green;
    flex-wrap: wrap;

    p {
      margin-bottom: 4px;
      font-size: 12px;
    }

    @include respond-to($tablet-portrait) {

      & > div:not(:last-child) {
        border-bottom: 0.5px solid $color-mixed-green;
        padding-bottom: 12px;

      }
      & > div:not(:first-child) {
        margin-top: 20px;
      }

      flex-direction: column;
    }

    .available {

      div {
        display: flex;
        align-items: center;

        .switch {
          position: relative;
          display: inline-block;
          width: 42px;
          height: 24px;
          border: 1px solid #288575;
          border-radius: 34px;
          margin-right: 6px;
        }
      }

    }

    .gender {
      .radio-btn-group {
        margin-top: 8px;
      }
    }
    .category {
      .select-green {
        width: 235px;
      }
    }

    input {
      display: none;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 2px;
      right: 0;
      bottom: 0;
      -webkit-transition: .4s;
      transition: .4s;
      background-color: $color-white;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      bottom: 1px;
      background-color: $color-mixed-green;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked + .slider {
      background-color: $color-white;

    }

    input:checked + .slider:before {
      transform: translateX(16px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
  }

  &--bottom {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;

    @include respond-to($tablet-portrait) {
      flex-direction: column;
      margin: 20px 0 20px;

      .rating-slider, .price-slider {
        width: 100%;
      }
      .rating-slider {
        margin-bottom: 14px;
        label {
          margin-left: -8px;
        }
      }
      div.price-slider {
        width: 100%;
        padding-top: 18px;
        border-top: .5px solid #288575;
        label {
          margin-left: -3px;
        }
        margin-left: -3px;
        @include respond-to($tablet-portrait){
          margin-left: 3px;
        }

        .ui-slider {
          width: 350px;
        }
      }
    }

    div > span {
      font-size: 12px;
      @include font-family-PTSans-regular();
    }

    label {
      font-size: 12px;
      @include font-family-PTSans-regular();
      margin-bottom: 6px;

    }

    .rating-slider, .price-slider {
      width: 235px;

      & > div {
        margin-top: 8px;

        span:first-of-type {
          margin-right: 130px;

        }
      }

    }

    .price-slider {
      width: 350px;
      & > div {
        span:first-of-type {
          margin-right: 182px;
          margin-left: -2px;
        }
      }
    }

    input {
      border: 0;
      color: $color-yellow;
      font-weight: bold;
    }

    #rating-slider, #price-slider {
      margin-top: 15px;

      & > div {
        background: $color-mixed-green;

      }

      & > span {
        width: 20px;
        height: 20px;
        background: $color-mixed-green;
        display: block;
        border-radius: 50%;
        outline: none;
        border: none;
      }
    }

  }

  &:after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 310px;
    margin-left: 6px;
    border: 5px solid;
    border-color: transparent transparent #fff transparent;

    @include respond-to($tablet-portrait) {
      right: initial;
      left: 57px;
    }
  }

}

.open {
  display: block;
}

.active {
  background: linear-gradient(0deg, $color-light-green 0%, $color-green 100%);
  box-shadow: inset 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
}

.ui-widget.ui-widget-content {
  border: none;
}

.ui-slider-horizontal {
  height: 2px;
  background: $color-light-gray;

  .ui-slider-handle {
    top: -10px;
    margin-left: -.6em;
  }
}

.rating-slider {
  margin-left: 8px;
}