@import "../../utils/variables";
@import "../../utils/index";
@import "../../shared/header/header";
@import "../../shared/footer/footer";

#main {
  .container {
    padding: 15px 30px 80px;

  }
  .products-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

  }

  .product {
    color: $color-black;
    margin-bottom: 30px;
    flex-basis: 32%;


    @include respond-to($large-desktop) {
      flex-basis: 49%;

    }

    @include respond-to($tablet-portrait) {
      flex-basis: 100%;

    }

    &--picture {
      position: relative;

      img {
        display: block;
        max-width: 100%;
      }
    }

    &--rating {
      position: absolute;
      bottom: 0;
      height: 30px;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.75);
      display: flex;
      align-items: center;
      padding-left: 20px;
      justify-content: flex-start;
      list-style: none;

      li {
        margin: 3px;
        width: 17px;
      }

    }

    &--purchase {
      background: url("../../../../assets/decor/modal-bg.png");
      padding: 20px;

      h3 {
        @include font-family-PTSans-bold();
        font-size: 18px;
        padding: 9px 0;
        border-bottom: 2px solid #3FC5CB;
      }

      p {
        font-size: 14px;
        padding: 9px 0;
        margin-bottom: 30px;
      }
    }

    &--price {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &--cost {
      font-size: 24px;
      @include font-family-PTSans-bold();

      span {
        color: $color-green;
      }

    }
  }

}

/*  Filter popup  styles */

.tool-bar {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 25px;

  @include respond-to($tablet-portrait) {
    justify-content: flex-start;
  }

  &--tools-btn {
    display: flex;
    flex-basis: 350px;
    justify-content: space-between;
    align-items: center;

  }
  &--filter {

    > button {
      padding: 10px 20px;
      background-color: $color-dark-green;
      border-radius: 5px;
      color: $color-white;

      &:focus {
        outline: none;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  &--search {
    position: relative;
    span {
      position: absolute;
      top: 25%;
      right: 10px;
      opacity: 0.3;

      i {
        font-size: 20px;
        color: $color-black;
      }
    }
  }
}

.filter-popup {
  display: none;
  position: absolute;
  background-color: $color-white;
  padding: 20px;
  margin-top: 10px;
  width: 66%;
  top: 100%;
  right: 0;
  border-radius: 15px;
  color: $color-black;
  z-index: 100;

  @include respond-to($large-desktop) {
    width: 100%;
  }

  &--content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
  }

  &--top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
    border-bottom: 0.5px solid $color-mixed-green;
    flex-wrap: wrap;

    p {
      margin-bottom: 8px;
    }

    @include respond-to($tablet-portrait) {

      & > div:not(:last-child) {
        border-bottom: 0.5px solid $color-mixed-green;
        padding-bottom: 12px;

      }
      & > div:not(:first-child) {
        margin-top: 20px;
      }

      flex-direction: column;
    }

    .radio-btn-group {
      display: flex;
      margin-top: 13px;

      .radio-container {
        display: block;
        position: relative;
        padding-left: 28px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 14px;
        user-select: none;
        margin-right: 10px;

        &:focus {
          color: #2A8676;
        }

        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;

        }

      }

      .checkmark {
        position: absolute;
        top: -4px;
        left: 0;
        height: 24px;
        width: 24px;
        background-color: $color-white;
        border-radius: 50%;
        border: 1px solid #288575;
      }

      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }

      .radio-container input:checked ~ .checkmark:after {
        display: block;

      }

      .radio-container .checkmark:after {
        top: 1px;
        left: 1px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #288575;

      }

    }
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 27px;
      border: 1px solid #288575;
      border-radius: 25px;

      input {
        display: none;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $color-mixed-green;
        -webkit-transition: .4s;
        transition: .4s;

        &:before {
          position: absolute;
          content: "";
          height: 20px;
          width: 20px;
          left: 4px;
          bottom: 3px;
          background-color: $color-mixed-green;
          -webkit-transition: .4s;
          transition: .4s;
        }

      }

      input[type="checkbox"] {

        &:checked + .slider {
          background-color: $color-white;

        }
        &:not(:checked) + .slider {
          background-color: $color-mixed-green;
          &:before {
            background: $color-white;
          }
        }

        &:focus .slider {
          box-shadow: 0 0 1px $color-mixed-green;
        }
      }

      .checkbox:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }

      .slider.round {
        border-radius: 25px;

        &:before {
          border-radius: 50%;
        }

      }
    }

  }

  &--bottom {
    padding-top: 15px;

    @include respond-to($tablet-portrait) {
      margin: 20px 0 20px;
    }

    input {
      border: 0;
      color: $color-yellow;
      font-weight: bold;
    }

    #slider-range {
      margin-top: 15px;

      & > div {
        background: $color-mixed-green;

      }

      & > span {
        width: 20px;
        height: 20px;
        background: $color-mixed-green;
        display: block;
        border-radius: 50%;
        outline: none;
        border: none;
      }
    }

  }

  &:after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 275px;
    margin-left: 6px;
    border: 5px solid;
    border-color: transparent transparent #fff transparent;

    @include respond-to($tablet-portrait) {
      right: initial;
      left: 50px;
    }
  }

}

.open {
  display: block;
}

.ui-widget.ui-widget-content {
  border: none;
}

.ui-slider-horizontal {
  height: 2px;
  background: $color-light-gray;

  .ui-slider-handle {
    top: -10px;
    margin-left: -.6em;
  }
}