<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="../../../compile/pages/main/main.css">
</head>
<body>

<header>
    <div class="container">
        <div class="header-wrap">
            <a class="logo" href="../product_customer/product_customer.html"><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i></a>
            <div class="user">
                <span>Hello, John Doe</span>
                <a href="../login/login.html">
                    <img src="../../../assets/icons/header-logout.svg" alt="logout">
                </a>
            </div>
        </div>
    </div>
</header>

<section id="main">
    <div class="container">
        <div class="tool-bar">
            <div class="tool-bar--tools-btn">
                <div class="tool-bar--filter">
                    <div class="filter">
                        <button id="filter-btn" class="btn-primary-regular">Filter options</button>
                        <!----- Filter popup ----->
                        <div id="filter-popup"   class="filter-popup">
                            <div class="filter-popup--content">
                                <div class="filter-popup--top">
                                    <div class="available">
                                        <p>Availability:</p>
                                        <div>
                                            <label class="switch">
                                                <input type="checkbox" checked>
                                                <span class="slider round"></span>

                                            </label>
                                            <span>Available only</span>
                                        </div>
                                    </div>
                                    <div class="gender">
                                        <p>Gender:</p>
                                        <div class="radio-btn-group">
                                            <label class="radio-container">
                                                <input type="radio" checked="checked" name="gender">
                                                <span class="checkmark"></span>
                                                Male
                                            </label>
                                            <label class="radio-container">
                                                <input type="radio" name="gender">
                                                Woman
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="radio-container">
                                                <input type="radio" name="gender">
                                                <span class="checkmark"></span>
                                                Unisex
                                            </label>
                                        </div>
                                    </div>
                                    <div class="category">
                                        <p>Category:</p>
                                        <select class="select-green">
                                            <option value="Clothes">Clothes</option>
                                            <option value="Phones">Phones</option>
                                            <option value="Tablets">Tablets</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="filter-popup--bottom">
                                    <div class="rating-slider">
                                        <label>Rating:</label>
                                        <div id="rating-slider"></div>
                                       <div>
                                           <span>1</span>
                                           <span>3</span>
                                       </div>
                                    </div>
                                    <div class="price-slider">
                                        <label>Price:</label>
                                        <div id="price-slider"></div>
                                       <div>
                                           <span>100</span>
                                           <span>400</span>
                                       </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!----- Search bar ------->
                <div class="tool-bar--search">
                    <div class="search">
                        <input class="text-input" type="text" placeholder="Filter by text...">
                        <span><i class="fa fa-search" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="products-list">
                <div class="product">
                    <div class="product--picture">
                        <img src="https://picsum.photos/800/800/?image=628" alt="img">
                        <ul class="product--rating">
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-inactive.svg" alt="start-inactive"></li>
                        </ul>
                    </div>

                    <div class="product--purchase">
                        <div class="product--top">
                            <h3 class="product--name">Name of product</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur delectus impedit
                                maiores
                                non odit quod recusandae repellat sapiente ullam.</p>
                        </div>
                        <div class="product--price">
                            <span class="product--cost"><span>$</span>47,95</span>
                            <button class="btn-primary-regular">Show more</button>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product--picture">
                        <img src="https://picsum.photos/800/800/?image=604" alt="img">
                        <ul class="product--rating">
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-inactive.svg" alt="start-inactive"></li>
                        </ul>
                    </div>

                    <div class="product--purchase">
                        <div>
                            <div><h3 class="product--name">Name of product</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur delectus
                                    impedit maiores
                                    non odit quod recusandae repellat sapiente ullam.</p></div>
                        </div>
                        <div class="product--price">
                            <span class="product--cost"><span>$</span>47,95</span>
                            <button class="btn-primary-regular">Show more</button>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product--picture">
                        <img src="https://picsum.photos/800/800/?image=21" alt="img">
                        <ul class="product--rating">
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-inactive.svg" alt="start-inactive"></li>
                        </ul>
                    </div>

                    <div class="product--purchase">
                        <div><h3 class="product--name">Active Coat Lorem Ipsum Dolor Sit Amet
                            Consectetur Adipisicing Elit.3</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Adipisci aperiam, libero aliquid architecto ad quis
                                maiores sit nulla officiis ex velit sapiente autem fugit
                                quam, qui reprehenderit veniam.</p></div>
                        <div class="product--price">
                            <span class="product--cost"><span>$</span>78800.00</span>
                            <button class="btn-primary-regular">Show more</button>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product--picture">
                        <img src="https://picsum.photos/800/800/?image=64" alt="img">
                        <ul class="product--rating rating">
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-inactive.svg" alt="start-inactive"></li>
                            <li><img src="../../../assets/decor/star-inactive.svg" alt="start-inactive"></li>
                        </ul>
                    </div>

                    <div class="product--purchase">
                        <div><h3 class="product--name">Name of product</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur delectus impedit
                                maiores
                                non odit quod recusandae repellat sapiente ullam.</p></div>
                        <div class="product--price">
                            <span class="product--cost"><span>$</span>47,95</span>
                            <button class="btn-primary-regular">Show more</button>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product--picture">
                        <img src="https://picsum.photos/800/800/?image=6" alt="img">
                        <ul class="product--rating">
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-inactive.svg" alt="start-inactive"></li>
                        </ul>
                    </div>

                    <div class="product--purchase">
                        <div><h3 class="product--name">Name of product</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur delectus impedit
                                maiores
                                non odit quod recusandae repellat sapiente ullam.</p></div>
                        <div class="product--price">
                            <span class="product--cost"><span>$</span>47,95</span>
                            <button class="btn-primary-regular">Show more</button>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product--picture">
                        <img src="https://picsum.photos/800/800/?image=177" alt="img">
                        <ul class="product--rating">
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-inactive.svg" alt="start-inactive"></li>
                        </ul>
                    </div>

                    <div class="product--purchase">
                        <div><h3 class="product--name">Name of product</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur delectus impedit
                                maiores
                                non odit quod recusandae repellat sapiente ullam.</p></div>
                        <div class="product--price">
                            <span class="product--cost"><span>$</span>47,95</span>
                            <button class="btn-primary-regular">Show more</button>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product--picture">
                        <img src="https://picsum.photos/800/800/?image=325" alt="img">
                        <ul class="product--rating">
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-inactive.svg" alt="start-inactive"></li>
                        </ul>
                    </div>

                    <div class="product--purchase">
                        <div><h3 class="product--name">Name of product</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur delectus impedit
                                maiores
                                non odit quod recusandae repellat sapiente ullam.</p></div>
                        <div class="product--price">
                            <span class="product--cost"><span>$</span>47,95</span>
                            <button class="btn-primary-regular">Show more</button>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product--picture">
                        <img src="https://picsum.photos/800/800/?image=389" alt="img">
                        <ul class="product--rating">
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-inactive.svg" alt="start-inactive"></li>
                        </ul>
                    </div>

                    <div class="product--purchase">
                        <div><h3 class="product--name">Name of product</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur delectus impedit
                                maiores
                                non odit quod recusandae repellat sapiente ullam.</p></div>
                        <div class="product--price">
                            <span class="product--cost"><span>$</span>47,95</span>
                            <button class="btn-primary-regular">Show more</button>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product--picture">
                        <img src="https://picsum.photos/800/800/?image=453" alt="img">
                        <ul class="product--rating">
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-inactive.svg" alt="start-inactive"></li>
                            <li><img src="../../../assets/decor/star-inactive.svg" alt="start-inactive"></li>
                            <li><img src="../../../assets/decor/star-inactive.svg" alt="start-inactive"></li>
                        </ul>
                    </div>

                    <div class="product--purchase">
                        <div><h3 class="product--name">Active Coat Lorem Ipsum Dolor Sit Amet
                            Consectetur Adipisicing Elit.3</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Adipisci aperiam, libero aliquid architecto ad quis
                                maiores sit nulla officiis ex velit sapiente autem fugit
                                quam, qui reprehenderit veniam.</p></div>
                        <div class="product--price">
                            <span class="product--cost"><span>$</span>100.54</span>
                            <button class="btn-primary-regular">Show more</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <span>Copyright "<span>Demo Shop</span>", 2017</span>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="./filter.js"></script>
</body>
</html>