@import "../../utils/variables";
@import "../../utils/index";
@import "../../shared/header/header";
@import "../../shared/footer/footer";

#main {
  .container {
    padding: 15px 30px 80px;

  }
  .products-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .product {
    height: 460px;
    color: $color-black;
    margin: 10px;
    flex-basis: 360px;


    &--picture {
      min-width: 0;
      position: relative;

      img {
        display: block;
        width: 360px;
        max-width: 100%;
        max-height: 450px;
      }
    }

    &--rating {
      position: absolute;
      bottom: 0;
      height: 30px;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.75);
      display: flex;
      align-items: center;
      padding-left: 20px;
      justify-content: flex-start;
      list-style: none;

      li {
        margin: 3px;
        width: 17px;
      }

    }

    &--purchase {
      background: url("../../../../assets/decor/modal-bg.png");
      padding: 20px;

      h3 {
        @include font-family-PTSans-bold();
        font-size: 18px;
        padding: 9px 0;
        border-bottom: 2px solid #3FC5CB;
      }

      p {
        font-size: 14px;
        padding: 9px 0;
        margin-bottom: 30px;
      }
    }

    &--price {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &--cost {
      font-size: 24px;
      @include font-family-PTSans-bold();

      span {
        color: $color-green;
      }

    }
  }

}

/*  Filter popup  styles */

.tools {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .filter {

    > button {
      padding: 10px 20px;
      background-color: $color-dark-green;
      border-radius: 5px;
      color: $color-white;

      &:focus {
        outline: none;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .search {

    &__input {
      padding: 10px 10px;
      border-radius: 5px;
      margin: 5px;

      &:focus {
        outline: none;
      }
    }
  }
}

.filter-popup {
  display: none;
  position: absolute;
  background-color: $color-white;
  padding: 30px 20px;
  margin-top: 10px;
  width: 600px;
  top: 100%;
  right: 30px;
  border-radius: 5px;
  color: $color-black;

  &__content_top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #28a3a5;
    padding-bottom: 20px;
  }

  &__content_bottom {
    padding-top: 15px;
  }

  &:after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 67%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
  }

}

.open {
  display: block;

}

.available p, .gender p, .category p {
  padding-bottom: 15px;
}

.radio-button {
  display: flex;
}

.radio-button input {
  background-color: #28a3a5;
}

.select-option {
  padding: 10px;
  background-color: #28a3a5;
  width: 180px;
  color: #fff;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 27px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;

  &:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

}

.checkbox:checked + .slider {
  background-color: #28a3a5;
}

.checkbox:focus + .slider {
  box-shadow: 0 0 1px #28a3a5;
}

.checkbox:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

.filter-input {
  padding: 10px 10px;
  border-radius: 5px;
  margin: 5px;

  &:focus {
    outline: none;
  }
}

#amount {
  border: 0;
  color: #f6931f;
  font-weight: bold;
}

#slider-range {
  margin-top: 15px;
}

.footer-title {
  text-align: center;
}

/* Product styles  */

.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 20px 20px 0;

}

//@media only screen and (max-width: 1164px) {
//
//  .tools {
//    justify-content: space-between;
//  }
//
//  .products-list {
//    justify-content: space-around;
//  }
//
//  .filter-popup {
//    width: calc(100% - 80px);
//  }
//
//  .products-list {
//    justify-content: space-around;
//  }
//
//  .filter-popup:after {
//    left: 8%;
//  }
//  .filter-popup__content_top {
//    flex-direction: column;
//    border-bottom: none;
//  }
//  .available, .gender, .category {
//    border-bottom: 1px solid #28a3a5;
//    padding: 15px;
//  }
//}