<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="../../compile/pages/main/main.css">
</head>
<body>

<header>
    <div class="container">
        <div class="header-wrap">
            <div class="logo"><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i></div>
            <div class="user">
                <span>Hello, John Doe</span>
                <img src="../../../assets/icons/header-logout.svg" alt="logout">
            </div>
        </div>
    </div>
</header>

<section id="main">
    <div class="container">
        <div class="tool-bar">
            <div class="tool-bar--tools-btn">
                <div class="tool-bar--filter">
                    <div class="filter">
                        <button id="filter-btn" class="btn-primary-regular">Filter options</button>
                        <!--Filter popup-->
                        <div id="filter-popup" class="filter-popup">
                            <div class="filter-popup--content">
                                <div class="filter-popup--top">
                                    <div class="available">
                                        <p>Availability:</p>
                                        <label class="switch">
                                            <input class="checkbox" type="checkbox">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                    <div class="gender">
                                        <p>Gender:</p>
                                        <div class="radio-btn-group">
                                            <label class="radio-container">
                                                <input type="radio" checked="checked" name="gender">
                                                <span class="checkmark"></span>
                                                Male
                                            </label>
                                            <label class="radio-container">
                                                <input type="radio" name="gender">
                                                Female
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="radio-container">
                                                <input type="radio" name="gender">
                                                <span class="checkmark"></span>
                                                Unisex
                                            </label>
                                        </div>
                                    </div>
                                    <div class="category">
                                        <p>Category:</p>
                                        <select class="select-green">
                                            <option value="Clothes">Clothes</option>
                                            <option value="Phones">Phones</option>
                                            <option value="Tablets">Tablets</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="filter-popup--bottom">
                                    <div>
                                        <label for="amount">Price range:</label>
                                        <input type="text" id="amount" readonly>
                                    </div>
                                    <div id="slider-range"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tool-bar--search">
                    <div class="search">
                        <input class="text-input" type="text" placeholder="Filter by text...">
                        <span><i class="fa fa-search" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="products-list">
                <div class="product">
                    <div class="product--picture">
                        <img src="https://picsum.photos/360/240/?image=628" alt="img">
                        <ul class="product--rating">
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-inactive.svg" alt="start-inactive"></li>
                        </ul>
                    </div>

                    <div class="product--purchase">
                        <h3 class="product--name">Name of product</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur delectus impedit maiores
                            non odit quod recusandae repellat sapiente ullam.</p>
                        <div class="product--price">
                          <span class="product--cost"><span>$</span>47,95</span>
                            <button class="btn-primary-regular">Show more</button>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product--picture">
                        <img src="https://picsum.photos/360/240/?image=604" alt="img">
                        <ul class="product--rating">
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-inactive.svg" alt="start-inactive"></li>
                        </ul>
                    </div>

                    <div class="product--purchase">
                        <h3 class="product--name">Name of product</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur delectus impedit maiores
                            non odit quod recusandae repellat sapiente ullam.</p>
                        <div class="product--price">
                            <span class="product--cost"><span>$</span>47,95</span>
                            <button class="btn-primary-regular">Show more</button>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product--picture">
                        <img src="https://picsum.photos/360/240/?image=21" alt="img">
                        <ul class="product--rating">
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-inactive.svg" alt="start-inactive"></li>
                        </ul>
                    </div>

                    <div class="product--purchase">
                        <h3 class="product--name">Name of product</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur delectus impedit maiores
                            non odit quod recusandae repellat sapiente ullam.</p>
                        <div class="product--price">
                            <span class="product--cost"><span>$</span>78800.00</span>
                            <button class="btn-primary-regular">Show more</button>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product--picture">
                        <img src="https://picsum.photos/360/240/?image=64" alt="img">
                        <ul class="product--rating rating">
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-inactive.svg" alt="start-inactive"></li>
                            <li><img src="../../../assets/decor/star-inactive.svg" alt="start-inactive"></li>
                        </ul>
                    </div>

                    <div class="product--purchase">
                        <h3 class="product--name">Name of product</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur delectus impedit maiores
                            non odit quod recusandae repellat sapiente ullam.</p>
                        <div class="product--price">
                            <span class="product--cost"><span>$</span>47,95</span>
                            <button class="btn-primary-regular">Show more</button>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product--picture">
                        <img src="https://picsum.photos/360/240/?image=6" alt="img">
                        <ul class="product--rating">
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-inactive.svg" alt="start-inactive"></li>
                        </ul>
                    </div>

                    <div class="product--purchase">
                        <h3 class="product--name">Name of product</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur delectus impedit maiores
                            non odit quod recusandae repellat sapiente ullam.</p>
                        <div class="product--price">
                            <span class="product--cost"><span>$</span>47,95</span>
                            <button class="btn-primary-regular">Show more</button>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product--picture">
                        <img src="https://picsum.photos/360/240/?image=177" alt="img">
                        <ul class="product--rating">
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-inactive.svg" alt="start-inactive"></li>
                        </ul>
                    </div>

                    <div class="product--purchase">
                        <h3 class="product--name">Name of product</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur delectus impedit maiores
                            non odit quod recusandae repellat sapiente ullam.</p>
                        <div class="product--price">
                            <span class="product--cost"><span>$</span>47,95</span>
                            <button class="btn-primary-regular">Show more</button>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product--picture">
                        <img src="https://picsum.photos/360/240/?image=325" alt="img">
                        <ul class="product--rating">
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-inactive.svg" alt="start-inactive"></li>
                        </ul>
                    </div>

                    <div class="product--purchase">
                        <h3 class="product--name">Name of product</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur delectus impedit maiores
                            non odit quod recusandae repellat sapiente ullam.</p>
                        <div class="product--price">
                            <span class="product--cost"><span>$</span>47,95</span>
                            <button class="btn-primary-regular">Show more</button>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product--picture">
                        <img src="https://picsum.photos/360/240/?image=389" alt="img">
                        <ul class="product--rating">
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-inactive.svg" alt="start-inactive"></li>
                        </ul>
                    </div>

                    <div class="product--purchase">
                        <h3 class="product--name">Name of product</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur delectus impedit maiores
                            non odit quod recusandae repellat sapiente ullam.</p>
                        <div class="product--price">
                            <span class="product--cost"><span>$</span>47,95</span>
                            <button class="btn-primary-regular">Show more</button>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product--picture">
                        <img src="https://picsum.photos/360/240/?image=453" alt="img">
                        <ul class="product--rating">
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-inactive.svg" alt="start-inactive"></li>
                            <li><img src="../../../assets/decor/star-inactive.svg" alt="start-inactive"></li>
                            <li><img src="../../../assets/decor/star-inactive.svg" alt="start-inactive"></li>
                        </ul>
                    </div>

                    <div class="product--purchase">
                        <h3 class="product--name">Name of product</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur delectus impedit maiores
                            non odit quod recusandae repellat sapiente ullam.</p>
                        <div class="product--price">
                            <span class="product--cost"><span>$</span>100.54</span>
                            <button class="btn-primary-regular">Show more</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <p class="footer-title">Demo Shop</p>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="../../shared/filter-popup/filter.js"></script>
</body>
</html>