<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="../../compile/main/main.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>
<body>

<header>
    <div class="container">
        <div class="header-wrap">
            <div class="logo"><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i></div>
            <div class="user">
                <span>User name</span>
                <i><i class="fa fa-user " aria-hidden="true"></i></i>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="container">
        <div class="content">
            <div class="product-list">
                <div class="product">
                    <img class="product__img"
                         src="https://digitalcontent.api.tesco.com/v1/media/tescomobile/handsets/iphone_x_silver_pureangles_400.png"
                         alt="img">
                    <h3 class="product__name">Name of product</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur delectus impedit maiores
                        non odit quod recusandae repellat sapiente ullam.</p>
                    <div class="product__buy">
                        <span>$Price</span>
                        <button>Show more</button>
                    </div>
                </div>
                <div class="product">
                    <img class="product__img"
                         src="https://digitalcontent.api.tesco.com/v1/media/tescomobile/handsets/iphone_x_silver_pureangles_400.png"
                         alt="img">
                    <h3 class="product__name">Name of product</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur delectus impedit maiores
                        non odit quod recusandae repellat sapiente ullam.</p>
                    <div class="product__buy">
                        <span>$Price</span>
                        <button>Show more</button>
                    </div>
                </div>
                <div class="product">
                    <img class="product__img"
                         src="https://digitalcontent.api.tesco.com/v1/media/tescomobile/handsets/iphone_x_silver_pureangles_400.png"
                         alt="img">
                    <h3 class="product__name">Name of product</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur delectus impedit maiores
                        non odit quod recusandae repellat sapiente ullam.</p>
                    <div class="product__buy">
                        <span>$Price</span>
                        <button>Show more</button>
                    </div>
                </div>
                <div class="product">
                    <img class="product__img"
                         src="https://digitalcontent.api.tesco.com/v1/media/tescomobile/handsets/iphone_x_silver_pureangles_400.png"
                         alt="img">
                    <h3 class="product__name">Name of product</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur delectus impedit maiores
                        non odit quod recusandae repellat sapiente ullam.</p>
                    <div class="product__buy">
                        <span>$Price</span>
                        <button>Show more</button>
                    </div>
                </div>
                <div class="product">
                    <img class="product__img"
                         src="https://digitalcontent.api.tesco.com/v1/media/tescomobile/handsets/iphone_x_silver_pureangles_400.png"
                         alt="img">
                    <h3 class="product__name">Name of product</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur delectus impedit maiores
                        non odit quod recusandae repellat sapiente ullam.</p>
                    <div class="product__buy">
                        <span>$Price</span>
                        <button>Show more</button>
                    </div>
                </div>
                <div class="product">
                    <img class="product__img"
                         src="https://digitalcontent.api.tesco.com/v1/media/tescomobile/handsets/iphone_x_silver_pureangles_400.png"
                         alt="img">
                    <h3 class="product__name">Name of product</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur delectus impedit maiores
                        non odit quod recusandae repellat sapiente ullam.</p>
                    <div class="product__buy">
                        <span>$Price</span>
                        <button>Show more</button>
                    </div>
                </div>
                <div class="product">
                    <img class="product__img"
                         src="https://digitalcontent.api.tesco.com/v1/media/tescomobile/handsets/iphone_x_silver_pureangles_400.png"
                         alt="img">
                    <h3 class="product__name">Name of product</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur delectus impedit maiores
                        non odit quod recusandae repellat sapiente ullam.</p>
                    <div class="product__buy">
                        <span>$Price</span>
                        <button>Show more</button>
                    </div>
                </div>
                <div class="product">
                    <img class="product__img"
                         src="https://digitalcontent.api.tesco.com/v1/media/tescomobile/handsets/iphone_x_silver_pureangles_400.png"
                         alt="img">
                    <h3 class="product__name">Name of product</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur delectus impedit maiores
                        non odit quod recusandae repellat sapiente ullam.</p>
                    <div class="product__buy">
                        <span>$Price</span>
                        <button>Show more</button>
                    </div>
                </div>
                <div class="product">
                    <img class="product__img"
                         src="https://digitalcontent.api.tesco.com/v1/media/tescomobile/handsets/iphone_x_silver_pureangles_400.png"
                         alt="img">
                    <h3 class="product__name">Name of product</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur delectus impedit maiores
                        non odit quod recusandae repellat sapiente ullam.</p>
                    <div class="product__buy">
                        <span>$Price</span>
                        <button>Show more</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <p class="footer-title">Demo Shop</p>
    </div>
</footer>

</body>
</html>