@import "../../utils/index";

.analytic {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;

  &--image {
    flex-basis: 48%;

    img {
      max-width: 100%;
      display: block;
    }

    @include respond-to($tablet-portrait) {
      flex-basis: 100%;
      img {
        height: initial;
      }
    }
  }
}
