<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manager page</title>
    <link rel="stylesheet" href="../../../compile/pages/manager/manager.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>
<body>
<header>
    <div class="container">
        <div class="header-wrap">
            <a class="logo" href="../main/main.html"><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i></a>
            <div class="user">
                <span>Hello, John Doe</span>
                <a href="../main/main.html">
                    <img src="../../../assets/icons/header-logout.svg" alt="logout">
                </a>
            </div>
        </div>
    </div>
</header>
<section>
    <div class="container">
        <div class="analytic">
            <div class="analytic--image">
                <img src="https://picsum.photos/800/800/?image=998" alt="alt">
            </div>
            <div class="analytic--image">
                <img src="https://picsum.photos/800/800/?image=1031" alt="alt">
            </div>
        </div>
    </div>
</section>
<footer>
    <span>Copyright "<span>Demo Shop</span>", 2017</span>
</footer>
</body>
</html>