@import "../../shared/header/header";
@import "../../shared/footer/footer";
@import "../../utils/miscs";

.content {
  height: 85vh;
}
.analytics {
  display: flex;
}

.analytics img {
  width: 600px;
  height: 100%;
}

@media only screen and (max-width: 1200px) {
  .analytics {
    flex-direction: column;
    align-items: center;
  }
  .analytics img {
    width: 90%;
  }
}