@import "../../utils/index";

.analytic {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;

  &--image {
    height: 340px;
    width: 49.5%;
    display: flex;

    img {
      max-width: 100%;
      display: block;
    }

    @include respond-to($tablet-portrait) {
      &:first-child {
        margin-bottom: 20px;
      }
      flex-basis: 100%;
      img {
        height: initial;
      }
    }

  }
}
