/* Pure modal  */
@import "../../utils/variables";

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  & *{
    color: $color-black;
  }

  &__body {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }

  &__header {
    height: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-white;
    border-radius: 15px 15px 0 0;

  }
  &__close-sign {
    position: absolute;
    right: 20px;
    color: $color-pad;
    font-size: $font-size-middle;
    font-weight: bold;

    &:hover,
    &:focus {
      color: $color-black;
      text-decoration: none;
      cursor: pointer;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    background: $color-dark-gray;
    border-radius: 0 0 15px 15px;
  }

}

.active {
  display: flex;
  justify-content: center;
  align-items: center;
}