@import "../../shared/header/header";
@import "../../shared/footer/footer";
@import "../../utils/adjustment";

/*   Styles for product_admin page  */

.header-info {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 0;
}

.products-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 20px 20px 0;
}

.product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 3px;
  & * {
    color: $color-black;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__name {
    border-bottom: 2px solid #333;
    margin: 15px 0;
  }
}

.product-img {
  width: 80%;
}

.buy-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.item-price {
  color: $color-brown;
  font-size: 20px;
}

.btn {
  margin-top: 20px;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  cursor: pointer;
}

nav.product-tools {

  & a {
    color: $color-light-green;
    cursor: pointer;

  }
}

/* Styles for add modal*/
.add-modal {
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles for edit modal*/

.modal-edit {
  display: flex;
  flex-direction: column;
  padding: 20px;

  &__top {
    display: flex;
  }

  &__left, &__right {
    padding: 5px;
    flex: 1;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__input {
    padding: 5px;
    border-radius: 5px;
    margin: 5px 0;
  }
  &__bottom {
    align-self: center;
  }
}

/* Styles for delete modal*/
.delete-modal{
  width: 400px;
  height: 100px;
  > div {
    text-align: center;
  }
}
.buy-modal{
  @extend .delete-modal;
}

@media only screen and (max-width: 900px) {
  .product {
    flex-direction: column;
  }
  .product-img {
    margin: 0 auto;
  }
  .product-tools {
    padding: 15px 0;
  }
}