<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product admin page</title>
    <link rel="stylesheet" href="../../../compile/pages/product_admin/product_admin.css">
    <link rel="stylesheet" href="../../../compile/shared/modal/modal.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>
<body>
<header>
    <div class="container">
        <div class="header-wrap">
            <div class="logo"><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i></div>
            <div class="user">
                <span>Hello, John Doe</span>
                <img src="../../../assets/icons/header-logout.svg" alt="logout">
            </div>
        </div>
    </div>
</header>
<section id="product-admin">
    <div class="container">
        <div class="content">
            <nav class="top-nav">
                <a href="../product_admin/product_admin.html">Back</a>
                <div>Category: <span>Man/Active wear</span></div>
            </nav>
            <div class="product-wrap">
                <div class="product">
                    <div class="product--picture">
                        <div>
                            <img class="product--img" src="../../../assets/images/1.jpg" alt="img_1">
                            <ul class="product--rating rating">
                                <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                                <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                                <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                                <li><img src="../../../assets/decor/star-inactive.svg" alt="start-inactive"></li>
                                <li><img src="../../../assets/decor/star-inactive.svg" alt="start-inactive"></li>
                            </ul>
                        </div>

                    </div>
                    <div class="product--general">
                        <div>
                            <h3 class="product--title">Active Coat Lorem Ipsum Dolor Sit Amet Consectetur
                                Adipisicing Elit.3</h3>
                            <div class="product--description">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aperiam, libero
                                    aliquid architecto ad quis maiores sit nulla officiis ex velit sapiente autem fugit
                                    quam, qui reprehenderit veniam fugiat nemo exercitationem cum minus ipsa
                                    consequuntur. Pariatur totam suscipit, voluptatibus laudantium.

                                </p>
                                <p>
                                    You can
                                    <a>add more.</a>
                                    You can also
                                    <a class="open-modal" data-modalName="edit">edit</a>
                                    details or
                                    <a class="open-modal" data-modalName="delete">delete</a>
                                    them.
                                </p>
                            </div>
                        </div>
                        <div class="product--purchase">
                            <span class="cost"><span>$</span>47,95</span>
                            <button data-modalName="buy" class="open-modal btn btn-primary-regular">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--------------------------Modals-------------------------->
<!--___Edit modal___-->
<div class="modal " data-modalName="edit">
    <div class="modal__body edit-modal-body">
        <div class="modal__header">
            <span class="modal__title">Edit “Active Coat Lorem Ipsum Dolor Sit Amet Consectetur </span>
            <span class="modal__close-sign close-modal">&times;</span>
        </div>
        <div class="modal__content ">
            <div class="modal-edit">
                <div class="modal-edit--top">
                    <div class="top-left">
                        <div class="">
                            <label for="input-name">Name</label>
                            <input class="text-input" type="text" placeholder="Name" id="input-name">
                        </div>
                        <div class="">
                            <label>Category</label>
                            <select class="select-white">
                                <option>Active wear</option>
                                <option>Sport wear</option>
                                <option>Casual wear</option>
                            </select></div>
                        <div>
                            <label>Gender</label>
                            <div class="radio-btn-group">
                                <label class="radio-container">
                                    <input type="radio" checked="checked" name="gender">
                                    <span class="checkmark"></span>
                                    Male
                                </label>
                                <label class="radio-container">
                                    <input type="radio" name="gender">
                                    Female
                                    <span class="checkmark"></span>
                                </label>
                                <label class="radio-container">
                                    <input type="radio" name="gender">
                                    <span class="checkmark"></span>
                                    Unisex
                                </label>
                            </div>
                        </div>
                        <div>
                            <label for="textarea-description">Description</label>
                            <textarea class="" cols="30" rows="10" id="textarea-description"></textarea>
                        </div>
                    </div>
                    <div class="top-right">
                        <div>
                            <label for="input-link">Link to image:</label>
                            <input class="text-input" type="url" id="input-link"></div>
                        <div class="top-right--image">
                            <img src="https://picsum.photos/400/200/?image=24" alt="img">
                        </div>
                        <div>
                            <label for="input-price">Price:</label>
                            <input class="text-input" id="input-price" type="number">
                        </div>
                        <div>
                            <label for="select-rating">Rating:</label>
                            <select class="select-white" id="select-rating">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-edit--bottom">
                    <button class="btn-primary-big close-modal">Submit</button>
                    <button class="btn-secondary-big close-modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal delete-active " data-modalName="delete">
    <div class="modal__body delete-modal">
        <div class="modal__header">
            <span class="modal__title">Delete item</span>
            <span class="modal__close-sign close-modal">&times;</span>
        </div>
        <div class="modal__content ">
            <div class="delete-modal">
                <p>You are trying to delete this product.
                    Are you sure you want this?
                </p>
                <div class="delete-modal--controls">
                    <button class="btn-secondary-big close-modal">Cancel</button>
                    <button class="btn-primary-big close-modal">Submit</button>
                </div>
            </div>

        </div>
    </div>
</div>
<!--___Buy modal___-->
<div class="modal buy-active" data-modalName="buy">
    <div class="modal__body buy-modal">
        <div class="modal__header">
            <span class="modal__title">Thank you!</span>
            <span class="modal__close-sign close-modal">&times;</span>
        </div>
        <div class="modal__content">
            <div class="buy-modal">
                <p>You successfully purchased
                    this item.</p>
                <button class="btn-primary-big close-modal">Continue shopping</button>

            </div>
        </div>
    </div>
</div>

<footer>
    <span>Copyright Test site 2018</span>
</footer>

<script src="../../shared/modal/modal.js"></script>
</body>
</html>