@import "../../utils/index";

/*   Styles for product_admin page  */

.product-wrap {
  display: flex;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;

    a {
      padding-bottom: 2px;
      border-bottom: 2px solid $color-white;
    }
    div {
      font-size: 15px;
      color: $color-white;

      span {
        font-size: 16px;
        font-weight: bold;
      }

    }
  }

  .product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background: url("../../../../assets/decor/modal-bg.png");
    margin-bottom: 20px;

    &--picture {
      position: relative;
      flex-basis: 350px;
      max-width: 525px;
      flex-grow: 1;

      div {
        position: relative;
        img {
          display: block;
          max-width: 100%;
        }
      }

    }

    &--general {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: $color-black;
      flex-basis: 350px;
      flex-grow: 1;
      padding-left: 22px;

      @include respond-to($tablet-portrait) {
        margin-top: 20px;
        padding-left: 0;
      }
    }

    &--title {
      padding-bottom: 15px;
      margin-bottom: 14.33px;
      border-bottom: 2px solid #3FC5CB;
      font-size: 24px;

    }
    &--description {
      font-size: 16px;
      line-height: 20px;
      p {
        margin-bottom: 20px;

        a {
          color: $color-green;
          text-decoration: underline;
        }
      }
    }

    &--purchase {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding-top: 10px;
      border-top: 1px solid #D6D6D6;

      button {
        width: 120px;
        @include font-family-PTSans-regular;
        font-size: 14px;
      }
    }



  }
}

/* Styles for add modal*/
.add-modal {
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles for edit modal*/

.modal-edit {
  display: flex;
  flex-direction: column;
  padding: 23px;

  .text-input {
    padding: 10px;
  }

  &--top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .top-left, .top-right {
      display: flex;
      flex-direction: column;
      flex-basis: 47%;

      & > div {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
      }

      input[type="url"]:invalid {
        border: 2px solid $color-error;
      }

      label {
        margin-bottom: 5px;
      }

      img {
        max-width: 100%;
        border: 1px solid #D8D8D8;
      }

      textarea {
        padding: 20px;
        resize: none;
        height: 200px;
        line-height: 19px;
        outline: none;

        &:focus {
          border: 2px solid $color-bright-green;
        }
        @include respond-to($tablet-portrait) {
          height: 130px;
        }
      }

      select {
        width: 100%;
      }

      @include respond-to($tablet-portrait) {
        flex-basis: 100%;
      }

    }

  }

  &--bottom {
    text-align: right;

    @include respond-to($tablet-portrait) {
      text-align: center;
    }

    button {
      color: $color-white;

      &:first-child {
        margin-right: 48px;
      }
    }
  }
}

.modal {
  .edit-modal-body, .buy-modal, .delete-modal {
    width: 100%;
    max-width: 730px;

    @include respond-to($tablet-portrait) {
      margin: 0 auto;
      padding: 0 30px;

    }

  }
  @include respond-to($tablet-portrait) {
    padding: 70px 0;
  }
  &__content {

    .buy-modal {
      font-size: 24px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 30px;
      height: 200px;

      p {
        margin-bottom: 30px;
        @include respond-to($tablet-portrait) {
          text-align: center;
          margin-bottom: 19px;

        }
      }

      button {
        color: $color-white;
        align-self: flex-end;
      }

    }
  }
}

@include respond-to($tablet-portrait) {
  div.modal.active {
    display: initial;
  }

  div.modal.buy-active.active,
  div.modal.delete-active.active {
    display: flex;
  }

}

/* Styles for delete modal*/
.delete-modal {
  @extend .buy-modal;

  &--controls {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    button:first-child {
      margin-right: 40px;
    }
  }

}


