@import "../utils/variables";
@import "../utils/miscs";

section {
  display: flex;
  justify-content: center;
  align-items: center;

  & > button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #28a3a5;
    border-radius: 5px;
    color: $color-white;
    cursor: pointer;
  }
}
.login {
  display: flex;
  flex-direction: column;
  min-width: 500px;

  background: $color-light-gray;

  &__title {
    text-align: center;
    background-color: $color-white;
    padding: 10px 0;
  }
}

.form {
  display: flex;
  flex-direction: column;
  padding: 30px;

  &__input {
    padding: 15px 10px;
    border-radius: 5px;
    margin: 5px;

    &:focus {
      outline: none;
    }

    &:invalid {
      border: 2px solid $color-error;
    }

    &:valid {
      border: 2px solid #333;
    }

  }

}

.btn {
  align-self: flex-end;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #28a3a5;
  border-radius: 5px;
  color: $color-white;


  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }

}

@media only screen and (max-width: 1000px) {
  .form-input {
    width: 70%;
  }
  .modal-content {
    width: 80%;
  }
}