@font-face {
  font-family: "PT Sans Reqular";
  src: url("../../../../assets/fonts/PT_Sans-Web-Regular.ttf");
}

@font-face {
  font-family: "PT Sans Bold";
  src: url("../../assets/fonts/PT_Sans-Web-Bold.ttf");
}