@import "./variables";
@import "./mixins";
@import "./button";
@import "../../components/shared/footer/footer";
@import "../../components/shared/header/header";

@font-face {
  font-family: "PT Sans Reqular";
  src: url("../../../../assets/fonts/PT_Sans-Web-Regular.ttf");
}

@font-face {
  font-family: "PT Sans Bold";
  src: url("../../../../assets/fonts/PT_Sans-Web-Bold.ttf");
}

html, body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-size: $font-size-main;
  color: $color-text-white;
  @include font-family-PTSans-regular();

}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 30px;
}

section {
  display: flex;
  flex: 1 0 auto;
  background-image: url("../../../../assets/decor/bg.jpg");

  .container {
    @extend .container;
    padding: 0 30px;
    background-color: rgba(0, 0, 0, 0.35);
  }
}

a {
  text-decoration: none;
  color: $color-white;
  cursor: pointer;
}

.cost {
  font-size: 24px;
  @include font-family-PTSans-bold();

  span {
    color: $color-green;
  }
}

.rating {
  position: absolute;
  bottom: 0;
  height: 30px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  padding-left: 20px;
  justify-content: flex-start;
  list-style: none;

  li {
    margin: 3px;
    width: 17px;

    img {
      max-width: 100%;
    }
  }

}

ul {
  list-style: none;
  li {
    display: inline;
  }
}

b, i {
  color: $color-yellow;
}

.quote {
  font-size: 34px;
  font-style: italic;
  position: relative;
  margin: 10px;
  opacity: 1;

  &:before,&:after {
    content: '';
    width: 20px;
    height: 15px;
    position: absolute;
    margin-left: -15px;
    background: url("../../../../assets/decor/quote.png") 0 0 no-repeat;
  }

  &:after {
    bottom: 0;
    margin-left: 5px;
    transform: rotate(180deg);
  }
}
.btn-primary-regular {
  @include create-button();
}

.btn-primary-big {
  @include create-button(false, true);
}

.btn-secondary-regular {
  @include create-button(true);
}

.btn-secondary-big {
  @include create-button(true, true);
}

.text-input {
  @include  text-input();
}

.select-green {
  @include select('down-salect-white.svg',$color-mixed-green);
}
.select-white {
  @include select('down-salect-green.svg',$color-white,$color-black)
}