@import "./variables";

@mixin font-family-PTSans-regular() {
  font-family: "PT Sans Reqular", serif;

}

@mixin font-family-PTSans-bold() {
  font-family: "PT Sans Bold", serif;
}

@mixin get-background($imgUrl) {
  background: $color-white url("../../../../assets/images/login-form/#{$imgUrl}") no-repeat 95% 50%;
  background-size: 40px;

}

@mixin select($arrow-down-img, $bgColor, $textColor:$color-white) {
  height: 35px;
  width: 222px;
  padding: 0 17px;
  border-radius: 5px;
  appearance: none;
  background: $bgColor url("../../../../assets/icons/#{$arrow-down-img}") right center no-repeat;
  color: $textColor;
  outline: none;
}

@mixin text-input {

  padding: 10px 50px 10px 10px;
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: #FFFFFF;
  outline: none;

  &::placeholder {
    font-style: italic;
    color: $color-bright-gray;
  }

  &:focus {
    border: 2px solid $color-bright-green;
  }
}

@mixin input-states($active,$inactive,$invalid) {
  @include get-background($inactive);

  &:focus:invalid, &:focus:invalid {
    border: 2px solid $color-error;
    @include get-background($invalid);

  }
  &:invalid {
    border: 2px solid $color-white;
    @include get-background($invalid);
  }

  &:focus:valid {
    border: 2px solid $color-bright-green;
    @include get-background($active)
  }

  &::placeholder {
    color: $color-bright-gray;
    font-style: italic;
  }

}

@mixin radio-group {
  display: flex;
  margin-top: 13px;

  .radio-container {
    display: block;
    position: relative;
    padding-left: 28px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    user-select: none;
    margin-right: 10px;

    &:focus {
      color: #2A8676;
    }

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;

    }

  }

  .checkmark {
    position: absolute;
    top: -4px;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: $color-white;
    border-radius: 50%;
    border: 1px solid #288575;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .radio-container input:checked ~ .checkmark:after {
    display: block;

  }

  .radio-container .checkmark:after {
    top: 1px;
    left: 1px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #288575;

  }
}

@mixin respond-to($media) {
  @media only screen and #{$media} {
    @content;
  }
}