$container-width: 1200px;

$color-white: #fff;
$color-black: #000;
$color-error: #FF0000;
$color-bright-gray: #999999;
$color-bright-green: #9CC3BC;
$color-primary-main: linear-gradient(180deg, #449587 0%, #2A8676 100%);


// color for primary buttons group
$color-green: #1B745F;
$color-light-green: #2BBCC2;

//color for button secondary group
$color-gray: #777777;
$color-light-gray: #B1B1B1;


//breakpoints

//$phone: '(min-width: 480px) and (max-width: 800px)';


$tablet-portrait: '(max-width: 800px)';
$large-desktop: '(max-width: 1000px)';

$color-dark-green: #2d874c;
$color-light-green: #2BBCC2;
$color-pad: #D1D1D1;

$color-error: #ff5954;
$color-text-white: #fff;
$color-light-gray: #EBEAE9;
$color-brown: #A52A2A;


$color-yellow: #EFC211;

/*--modal background--*/
$color-dark-gray: #E8E9E5;

$font-size-main: 14px;
$font-size-middle: 28px;

// images names
$img-login-password-active: 'password-active.svg';
$img-login-password-inactive: 'password-inactive.svg';
$img-login-password-invalid: 'password-invalid.svg';

$img-login-login-active: 'login-active.svg';
$img-login-login-inactive: 'login-inactive.svg';
$img-login-login-invalid: 'login-invalid.svg';