$container-width: 1200px;

$font-size-main: 14px;
$font-size-x-large: 18px;
$font-size-middle: 28px;

// main colors
$color-white: #fff;
$color-black: #000;
$color-error: #FF0000;
$color-yellow: #EFC211;
$color-mixed-green: #288575;
$color-bright-gray: #ECEBE9;
$color-bright-green: #9CC3BC;
$color-primary-main: linear-gradient(180deg, #449587 0%, #2A8676 100%);

// color for primary buttons group
$color-green: #1B745F;
$color-light-green: #2BBCC2;
$color-dark-green: #2d874c;

//color for button secondary group
$color-gray: #777777;
$color-light-gray: #B1B1B1;
$color-middle-gray: #999999;

/*--modal background color--*/
$color-dark-gray: #E8E9E5;

// break points
$phone: '(max-width: 480px)';
$tablet-portrait: '(max-width: 800px)';
$large-desktop: '(max-width: 1000px)';

// images names
$img-login-password-active: 'password-active.svg';
$img-login-password-inactive: 'password-inactive.svg';
$img-login-password-invalid: 'password-invalid.svg';

$img-login-login-active: 'login-active.svg';
$img-login-login-inactive: 'login-inactive.svg';
$img-login-login-invalid: 'login-invalid.svg';



