<!DOCTYPE html>
<html lang="en" xmlns="">
<head>
    <meta charset="UTF-8">
    <title>ProductCustomer page</title>
    <link rel="stylesheet" href="../../compile/pages/product_customer/product_customer.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
<header>
    <div class="container">
        <div class="header-wrap">
            <div class="logo"><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i></div>
            <div class="user">
                <span>Hello, John Doe</span>
                <img src="../../../assets/icons/header-logout.svg" alt="logout">
            </div>
        </div>
    </div>
</header>
<section class="product-customer">
    <div class="container">
        <div class="content">
            <nav class="top-nav">
                <a href="../product_admin/product_admin.html">Back</a>
                <div>Category: <span>Man/Active wear</span></div>
            </nav>
            <div class="product-customer--product">
                <div class="product">
                    <div class="product--slider">
                        <div id="slider" class="zoom-container">
                            <div class="slides-container">
                                <div class="slide">
                                    <a id="wt"> <img class="product--img zoom" src="../../../assets/images/1.jpg" alt="img_1"></a>
                                    <div class="slide--description">
                                        <p>Slide 1 <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aspernatur culpa harum magni! Architecto cumque doloribus</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="slide">
                                    <img class="product--img zoom" src="../../../assets/images/2.jpg" alt="img_2">
                                    <div class="slide--description">
                                        <p>Slide 2 Lorem ipsum dolor sit amet, consectetur
                                            adipisicing.</p>
                                    </div>
                                </div>
                                <div class="slide">
                                    <img class="product--img zoom" src="../../../assets/images/3.jpg" alt="img_3">
                                    <div class="slide--description">
                                        <p>Slide 3 Lorem ipsum dolor sit amet.</p>
                                    </div>
                                </div>
                            </div>
                            <a class="control arrow-left">
                                <img src="../../../assets/images/arrow.svg" alt="arrow-left">
                            </a>
                            <a class="control arrow-right">
                                <img src="../../../assets/images/arrow.svg" alt="arrow-right">
                            </a>
                            <div id="watermark">
                                <img src="../../../assets/icons/watermark-3.png" alt="watermark">
                            </div>

                        </div>
                        <ul class="product--rating rating">
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-active.svg" alt="start-active"></li>
                            <li><img src="../../../assets/decor/star-inactive.svg" alt="start-inactive"></li>
                            <li><img src="../../../assets/decor/star-inactive.svg" alt="start-inactive"></li>
                        </ul>
                    </div>
                    <div id="zoom-result-boundaries" class="product--general">
                        <div class="product-description">
                            <h3 class="product--title">Active Coat Lorem Ipsum Dolor Sit Amet Consectetur
                                Adipisicing Elit.3</h3>
                            <div class="slide--description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur delectus
                                    impedit
                                    maiores non odit quod recusandae repellat sapiente ullam.</p>
                            </div>
                        </div>
                        <div class="product--purchase">
                            <span class="cost"><span>$</span>47,95</span>
                            <button class="btn-primary-regular">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="leave-review">
                <p>There is no user reviews for now.</p>
                <p>Would you like to <a id="leave-review-trigger">share your thoughts with other customers</a>?</p>
            </div>
            <div class="review">
                <div class="review--live-preview">
                    <div class="publication-info">
                        <p class="publication--author">
                            By
                            <span id="name-preview" class="publication-info--author-name">Your Name</span>
                            <span class="publication-info--date">March 4, 2017</span>
                        </p>
                        <div id="rating-preview" class="rating-stars ">
                            <img src="../../../assets/decor/star-inactive.svg" alt="start-inactive">
                            <img src="../../../assets/decor/star-inactive.svg" alt="start-inactive">
                            <img src="../../../assets/decor/star-inactive.svg" alt="start-inactive">
                            <img src="../../../assets/decor/star-inactive.svg" alt="start-inactive">
                            <img src="../../../assets/decor/star-inactive.svg" alt="start-inactive">
                        </div>
                    </div>

                    <div class="post">
                        <div class="post--author-avatar">
                            <img class="avatar-thumbnail" id="author-avatar-preview"
                                 src="http://via.placeholder.com/80x80" alt="author-avatar">
                        </div>
                        <div class="post--comment-wrap">
                            <pre id="review-preview" class="post--comment"><span>Start typing and your review text will appear here..</span></pre>
                        </div>
                    </div>
                </div>
                <div class="review--bottom">
                    <div class="review-profile">
                        <div class="profile-name">
                            <label for="author-name">Enter your name</label>
                            <input id="author-name" name="author-name" type="text">
                        </div>
                        <div class="profile-avatar">
                            <span>Choose your avatar</span>
                            <div class="profile-avatar--upload">
                                <span class="upload-status">Image not selected</span>
                                <label for="author-avatar">
                                    <img class="avatar-thumbnail" src="http://via.placeholder.com/80x80"
                                         alt="upload-img">
                                </label>
                                <input name="author-avatar" type="file" id="author-avatar" accept="image/*">
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <div class="comment--header">
                            <span>Write your review</span>
                            <div class="comment--rate">
                                <span>Rate product:</span>
                                <div id="rating" class="rating-stars">
                                    <img src="../../../assets/decor/star-inactive.svg" data-state="inactive"
                                         alt="start-inactive">
                                    <img src="../../../assets/decor/star-inactive.svg" data-state="inactive"
                                         alt="start-inactive">
                                    <img src="../../../assets/decor/star-inactive.svg" data-state="inactive"
                                         alt="start-inactive">
                                    <img src="../../../assets/decor/star-inactive.svg" data-state="inactive"
                                         alt="start-inactive">
                                    <img src="../../../assets/decor/star-inactive.svg" data-state="inactive"
                                         alt="start-inactive">
                                </div>
                            </div>
                        </div>
                        <div class="comment--body">
                            <textarea id="author-review" name="review" cols="30" rows="10"></textarea>
                        </div>
                        <div class="comment--footer">
                            <div class="edit-controls">
                                <button id="bold-btn" data-edit="bold" class="btn-secondary-regular">Bold</button>
                                <button id="emphasize-btn" data-edit="emphasize" class="btn-secondary-regular">
                                    Emphasize
                                </button>
                                <button id="quote-btn" data-edit="quote" class="btn-secondary-regular">Quote</button>
                            </div>
                            <div class="submit-controls">
                                <button id="cancel-btn" class="btn-secondary-regular">Cancel</button>
                                <button id="submit-btn" class="btn-primary-regular">Submit</button>
                            </div>
                        </div>
                    </div>
                    <div class="edit-review">
                        <span> edit your review</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <span>Copyright Test site 2018</span>
</footer>
</body>
<script src="../../shared/slider/slider.js"></script>
<script src="../../shared/zoom/zoom.js"></script>
<script src="./review.js"></script>
<script src="./watermark.js"></script>
</html>