@import "../../shared/header/header";
@import "../../shared/footer/footer";
@import "../../utils/adjustment";
@import "../../shared/slider/slider";
@import "../../shared/zoom/zoom";
/*   Styles for current product  */

.header-info {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 0;
}

.products-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 20px 20px 0;
}

.product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 3px;

  &--slider {
    padding: 20px;
  }
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-name {
  border-bottom: 2px solid #333;
  margin: 15px 0;
}

.buy-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.item-price {
  color: brown;
  font-size: 20px;
}

.btn {
  padding: 10px 20px;
  background-color: #28a3a5;
  border-radius: 5px;
  color: #fff;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  cursor: pointer;
}

.product-description {
  color: $color-black;
}

