@import "../../utils/index";
@import "../../shared/slider/slider";
@import "../../shared/zoom/zoom";

/*   Styles for current product  */

.product-customer {
  display: flex;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;

    a {
      padding-bottom: 2px;
      border-bottom: 2px solid $color-white;
    }
    div {
      font-size: 15px;
      color: $color-white;

      span {
        font-size: 16px;
        font-weight: bold;
      }

    }
  }

  .product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background: url("../../../../assets/decor/modal-bg.png");
    margin-bottom: 20px;

    &--slider {
      position: relative;
      flex-basis: 350px;
      flex-grow: 1;

    }

    &--general {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: $color-black;
      flex-basis: 350px;
      flex-grow: 1;
      padding-left: 20px;

      @include respond-to($tablet-portrait) {
        margin-top: 20px;
        padding-left: 0;
      }
      p {
        font-size: 16px;
      }
    }

    &--title {
      font-size: 24px;
      padding-bottom: 15px;
      margin-bottom: 14px;
      border-bottom: 2px solid #3FC5CB;

    }

    &--purchase {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding-top: 10px;
      border-top: 1px solid #D6D6D6;
    }

  }

  .leave-review {
    margin: 0 auto 50px;
    text-align: center;

    a {
      color: $color-yellow;
    }
  }

  .review {
    display: none;
    margin-bottom: 100px;

    &--live-preview {
      position: relative;
      background-color: rgba(0, 0, 0, 0.7);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 15px;

      .publication-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 18px;

        &--author-name {
          color: $color-yellow;
          font-style: italic;
        }
        .rating-stars {
          color: $color-black;
          bottom: 0;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          list-style: none;
          img {
            margin-right: 3px;
            width: 17px;
          }
        }

      }

      .post {
        display: flex;
        align-items: center;

        @include respond-to($phone) {
          flex-wrap: wrap;
          justify-content: center;
          margin-bottom: 30px;

          &--comment-wrap {
            margin-top: 20px;
          }
        }

        &--author-avatar {
          width: 79px;
          height: 79px;
          border: 1px solid #FFCC00;
          margin-right: 15px;

          img {
            display: block;
            max-width: 100%;
          }
        }

        &--comment-wrap {
          display: flex;
          align-self: flex-start;
          flex: 1 1 auto;
        }

        &--comment {
          width: 100%;
          font-size: 14px;
          @include font-family-PTSans-regular();
          span {
            font-style: italic;
            opacity: 0.5;
          }
          span.quote {
            opacity: 1;
          }
        }
      }

    }

    &--bottom {
      color: $color-black;
      border: 3px solid #3FC5CB;
      position: relative;
      padding: 25px;
      display: flex;
      flex-wrap: wrap;
      background: url("../../../../assets/decor/modal-bg.png");

      .review-profile {
        padding-right: 20px;
        flex: 1 1 200px;

        @include respond-to($tablet-portrait) {
          padding-right: 0;
          margin-bottom: 20px;
        }

        .profile-name {
          display: flex;
          flex-direction: column;
          margin-bottom: 20px;

          label {
            font-size: 16px;
            margin-bottom: 10px;
          }

          input {
            font-size: 16px;
            padding: 10px 17px;
            width: 100%;
            border-radius: 5px;
            outline: none;
            border: 2px solid transparent;

            @include font-family-PTSans-regular();
            &:focus {
              border: 2px solid $color-bright-green;
            }
          }
        }

        .profile-avatar {
          span {
            display: block;
            font-size: 16px;
            margin-bottom: 10px;
          }
          & > label {
            font-size: 16px;
            margin-bottom: 10px;
            display: block;
          }
          &--upload {
            height: 100px;
            background: $color-white;
            border-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: space-around;

            span {
              font-style: italic;
              opacity: 0.5;
              color: $color-black;
            }

            label {
              height: 80px;
              width: 80px;
              display: flex;
              border-radius: 15px;
              border: 3px solid rgba(0, 0, 0, .2);

              img {
                max-width: 100%;
                display: block;
                cursor: pointer;
                border-radius: 9px;
              }
            }

            input {
              display: none;
            }
          }

        }
      }

      .comment {
        flex: 1 0 450px;

        @include respond-to($tablet-portrait){
          flex: auto;
        }

        &--header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 10px;
          font-size: 16px;

        }

        &--rate {
          display: flex;
          align-items: center;
          span {
            margin-right: 15px;
          }

          .rating-stars {
            color: $color-black;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            list-style: none;

            img {
              width: 17px;
              margin-right: 3px;
            }
          }

        }

        &--body {
          margin-bottom: 3px;
          textarea {
            width: 100%;
            border-radius: 5px;
            padding: 15px;
            height: 190px;
            resize: none;
            font-size: 16px;
            line-height: 20px;
            outline: none;
            border: 2px solid transparent;
            @include font-family-PTSans-regular();

            &:focus {
              border: 2px solid $color-bright-green;
            }

          }
        }

        &--footer {
          display: flex;
          justify-content: space-between;

          @include respond-to('(max-width:600px)'){
            justify-content: center;

            div:first-child {
              margin-bottom: 20px;
            }
          }

          & > div {
            display: flex;
          }
          .edit-controls {
            button {
              padding: 8px;
              margin-right: 10px;
            }
          }
          .submit-controls {
            button:first-child {
              margin-right: 10px;
            }
          }

          @include respond-to($tablet-portrait) {
            flex-wrap: wrap;
          }

        }

      }

      .edit-review {
        top: -25px;
        left: 50%;
        margin-left: -90px;
        position: absolute;
        width: 180px;
        padding: 12px 20px;
        border: 3px solid #3FC5CB;
        border-radius: 15px;
        background: $color-white;
        color: $color-black;
        text-align: center;

        span {
          text-transform: uppercase;
          @include font-family-PTSans-bold();
        }
      }
    }

  }

}


